/*
DLL
*/
:root {
 --lima : #bd4b4b;
 --empat : #b46294;
 --tiga : #9d97af;
 --dua : #e38b7a;
 --satu :#f6f3f6;
 --warnaGlow : rgba(180,98,148,0.9);
}
.backgrund {
  background-color: var(--lima) !important;
  color: var(--satu) !important; 
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body { 
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}

.poiper {
  height: 80px;
  width: 80px;
  position: absolute;
}

.tinggi {
  height: calc("100vh - 150px") !important;
}

.ikonBesar {
  width: 160px !important;
  height: 160px !important;
}


.rumah {
  position: absolute;
  pointer-events: auto;
}


.rummahdiv {
  position: absolute;
  height: 160px;
  width: 160px;
  margin-top: 35px;
  pointer-events: none
}

.gede {
  transform: scale(1.6);
}
.gede2 {
  transform: scale(4.0);
}

.gedeImg {
  transform: scale(0.8);
}

.dot {  
  height: 60px !important;
  width: 60px !important;
  background-color: var(--empat) !important;
  color: #FAFAF9 !important;
}
.satu {
  top: -70px;
    right: 50px;
}

.dua {
    left: -65px;
    top: 10px;
}

.tiga {
  right: -65px;
  top: 10px;
}

.empat {
  bottom: -40px;
  left: -20px;
}

.lima {
  bottom: -40px;
  right: -20px;
}

.coba {
  position: relative;
}

/*
Animasi
*/


.puff-in-center {
	animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.puff-out-center {
	animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.tracking-in-contract-bck {
	animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
}

.tracking-out-contract-bck {
	animation: tracking-out-contract-bck 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.sil1 {
	animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.sil1sad {
	animation: slide-in-left infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.glowing {
  animation: glow infinite alternate;
}

.spinning {
  margin: 0;
  animation: glow 4s infinite ease-in-out;
  }

  .typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px 20px var(--warnaGlow);
    transform:rotate(0deg);
  }
  50% {
    box-shadow: 0px 0px 10px 0px var(--warnaGlow);
  }
  100% {
    box-shadow: 0px 0px 10px 20px var(--warnaGlow);
    transform:rotate(360deg);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
    opacity: 0.8;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes tracking-out-contract-bck {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    transform: translateZ(-500px);
    opacity: 0;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-out-center {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}

/*
  Style
*/
button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.mui-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  margin-top: 33%;
  transform: scale(1.4);
  margin-left: 22%;
}